.intro-wrapper {
  .header-image {
    width: 100%;
    background: url("../../../../images/loading.png") no-repeat fixed;
    background-position: center 200px;
    background-size: 80px 80px;
  }
  .body {
    padding: 38px 45px 0 45px;
    .topicImg {
      height: 150px;
      display: block;
      margin: 0 auto;
    }
    .intro-text {
      border: 1px solid #fff;
      background-color: #29d6a0;
      color: #ffffff;
      border-radius: 16px;
      padding: 30px 10px;
      font-size: 24px;
      font-weight: 550;
      letter-spacing: 9px;
      text-align: center;
      margin: 39px 0 44px 0;
    }
    .cityList {
      display: flex;
      .city {
        width: 94px;
        height: 44px;
        background-color: #b2b2b2;
        border-radius: 8px;
        font-size: 22px;
        font-weight: 400;
        line-height: 44px;
        text-align: center;
        color: #ffffff;
        box-sizing: border-box;
        transition: all .5s;
      }
      .city:not(:last-child) {
        margin-right: 19px;
      }
      .city-select{
        background: #ffbe1e;
      }
    }
    .priceBox {
      display: flex;
      justify-content: space-between;
      margin-top: 34px;
      .box {
        width: 300px;
        height: 190px;
        border: 2px solid #ffa10d;
        opacity: 1;
        border-radius: 16px;
        font-size: 24px;
        font-weight: 600;
        line-height: 40px;
        color: #ffa10d;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .online-class {
      font-size: 22px;
      font-family: PingFang SC;
      font-weight: 300;
      line-height: 70px;
      color: #b2b2b2;
      text-align: center;
    }
    button {
      margin-top:86px;
      width: 100%;
      background-color: #fc4442;
      border-radius: 50px;
      font-size: 38px;
      font-weight: 700;
      line-height: 118px;
      color: #ffffff;
      box-shadow: 10px 20px 50px #DFDFDF;
      margin-bottom: 40px;
    }
    .footer-txt {
      width: 536px;
      height: 60px;
      margin: 11px auto;
      font-size: 22px;
      font-weight: 300;
      line-height: 30px;
      text-align: center;
      color: #b2b2b2;
      opacity: 1;
    }
  }
}
