.index {
  background-color: #F7F7F7;
  display: table;
  min-height: 100vh;
}
.official-acounts-img {
  display: block;
  width: 710px;
  min-height: 100px;
  margin: 20px;
  background: url("../../../images/loading.png") no-repeat fixed;
  background-position: center 70px;
  background-size: 80px 80px;
}