.article-small-container {
  width: 323px;
  height: 305px;
  border-radius: 8px;
  background: #FFFFFF;
  display: block;
}

.article-small-img {
  width: 323px;
  height: 166px;
  border-radius: 8px;
}

.article-small-details {
  margin: 18px;
  background: url("../../images/article_title_small_bg.png") no-repeat;
  background-size: 4px 48px;
}

.article-small-title {
  font-size: 28px;
  font-weight: 500;
  color: #353535;
  margin-bottom: 26px;
  margin-left: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.article-small-author {
  float: left;
  font-size: 22px;
  font-weight: 400;
  color: #B2B2B2;

  margin-bottom: 16px;
}

.article-small-price {
  float: right;
  font-size: 22px;
  font-weight: 500;
  color: #FC4442;

  margin-bottom: 16px;
}

.article-small-free-for-vip {
  display: inline-block;
  vertical-align: text-top;
  text-align: center;
  margin: 4px 13px;

  width: 68px;
  height: 22px;
  line-height: 22px;
  background: #FEF1D1;
  border-radius: 4px;

  font-size: 14px;
  font-weight: 400;
  color: #FFA10D;
}

.invisible {
  display: none;
}