.index {
  margin: 80px 73px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-greeting {
  white-space: pre-wrap; // 解决换行问题

  font-size: 48px;
  font-weight: 600;
  color: #353535;
}

.subscription-images-container {
  display: flex;
  justify-content: space-between;

  margin: 104px 0 280px 0;
}

.text-small {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #B2B2B2;
}

.vip-subscription-image {
  width: 276px;
  height: 272px;
  overflow: visible;
}

.icon-vip-recommended {
  width: 68px;
  height: 68px;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
}

.grayscale {
  filter: grayscale(100%);
}

.btn-pay {
  width: 100%;
  font-size: 38px;
  margin: 24px 0;
  background-color: #FC4442;
  color: #ffffff;
  border-radius: 50px;
  box-shadow: 5px, 5px, 10px, 1px rgba(0, 0, 0, 0.3);
}

.href-eula {
  color: #2658FF;
}
