.index {
  background-image: url("../../images/mine/mine_bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: table;
  width: 100%;
  min-height: 496px; /* 保证背景图片能够正常显示 */
}

.userinfo {
  display: flex;
  flex-direction: row;
  margin: 32px 61px 0 61px;
  height: 135px;
  color: white;
}

.btn-get-user-info {
  background-color: #FFFFFF;
  color: #FC4442;
  font-size: 38px !important;
}

.userinfo-avatar {
  flex-shrink: 0;
  width: 134px;
  height: 134px;
  margin: 0px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: rebeccapurple;
}

// 头像右侧的用户信息
.userinfo-texts {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; // 底部对齐
  margin-left: 26px;
}

.userinfo-nickname {
  font-weight: 600;
  font-size: 36px;
  margin: 15px 0 15px 0;
}

.userinfo-phone {
  font-weight: 400;
  font-size: 22px;
}

.userinfo-icon-vip {
  width: 94px;
  height: 44px;
}

.invisible {
  display: none;
}

.userinfo-icon-phone {
  width: 18px;
  height: 27px;
  margin: 0 12px 0 17px;
}

.become-vip-container {
  text-align: center;
  width: 686px;
  background: #FFFFFF;
  opacity: 1;
  border-radius: 32px;
  margin: 54px auto;
}

.banner-become-vip {
  width: 680px;
  height: 200px;
  margin: 30px auto 0px auto;
}

.img-subscribe-gzh {
  width: 344px;
  height: 80px;
  margin: 23px auto 0 auto;
}

.buttons-container {
  margin-bottom: 32px;
}

.buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 58px 75px 0 75px;
}

.bigbutton {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  // border: 1px solid brown;
}

.bigbutton-img {
  width: 138px;
  height: 138px;
}

.bigbutton-magic-native-button {
  position: fixed;
  width: 148px;
  height: 148px;
  background-color: transparent;
  z-index: 999;
}
.bigbutton-magic-native-button::after {
  border: none !important;
}

.bigbutton-text {
  color: #353535;
  font-size: 25px;
  font-weight: 500;
  margin-top: 10px;
}

.admin-button{
  font-size: 30px;
  font-weight: 550;
  line-height: 110px;
  color: #888888;
  background-color: #fff;
  border: 1px solid #FFBE1E;
  border-radius: 100px;
  height: 110px;
  width: 720px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px #ffe794;
}