.top-container{
  height: 30px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  
  font-size: 22px;
  color: #C6C6C6;
  font-weight: 500;
}

.top-container-name-false{
  color: #C6C6C6;
}

.top-container-name-true{
  color: #FFBE1E;
}

.top-container-icon{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}