.index {
  background-color: #F7F7F7;
  display: table;
  min-height: 100vh;
}
.about-us-img {
  display: block;
  width: 680px;
  min-height: 100px;
  margin: 35px;
  background: url("../../../images/loading.png") no-repeat fixed;
  background-position: center 70px;
  background-size: 80px 80px;
}