.index {
}
.eula-img {
  width: 100%;
  min-height: 100px;
  //margin: 35px;
  background: url("../../../../images/loading.png") no-repeat fixed;
  background-position: center 70px;
  background-size: 80px 80px;
}