.order-fab-become-vip {
  position: fixed;
  width: 108px;
  height: 108px;
  margin: 36px;
  bottom: 0px;
  right: 0px;
  z-index: 999;
  border-bottom: 2px  #fc6c64;
  border-bottom-right-radius: 40px 40px;
}

page {
  background: #F7F7F7;
}

.order-index {
  min-height: 100vh;
}

.bg-red-block {
  background: #FC4442;
  height: 146px;
  margin-bottom: -105px;
}

.searchbar-container {
  margin: 0 46px;
  height: 74px;
  background: #FFFFFF;
  opacity: 1;
  border-radius: 37px;
}

.search-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 19px 12px 15px 25px;
}

.search-input {
  display: inline-block;
  width: 550px;
  vertical-align: super; // don't ask me why, i dont know  ---miigon
  font-size: 28px;
  font-weight: 400;
}


.orders-container {
  margin: 38px 47px;
}

.order-labels-container {
  display: flex;
  flex-direction: row;
  margin-top: 26px;
  margin-bottom: 38px;
}

.order-drop-downs-container {
  margin-top: 65px;
  margin-bottom: 26px;
}
