.order-fab-become-vip {
  position: fixed;
  width: 165px;
  height: 168px;
  margin: 36px;
  bottom: 0px;
  right: 0px;
  z-index: 999;
  border-bottom: 2px  #fc6c64;
  border-bottom-right-radius: 40px 40px;
}

page {
  background: #F7F7F7;
}

.order-index {
  min-height: 100vh;
}

.bg-red-block {
  background: #FC4442;
  height: 146px;
  margin-bottom: -105px;
}

.searchbar-container {
  margin: 0 46px;
  height: 74px;
  background: #FFFFFF;
  opacity: 1;
  border-radius: 37px;
}

.search-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 19px 12px 15px 25px;
}

.search-input {
  display: inline-block;
  width: 550px;
  vertical-align: super; // don't ask me why, i dont know  ---miigon
  font-size: 28px;
  line-height: 28px;
  font-weight: 400;
}


.orders-container {
  margin: 38px 47px;
}

.order-labels-container {
  display: flex;
  flex-direction: row;
  margin-top: 26px;
  margin-bottom: 38px;
}

.order-drop-downs-container {
  margin-top: 65px;
  margin-bottom: 26px;
}

.order-end-text{
  text-align:center;
  color: grey;
  font-size: 30px;
  margin-bottom: 20px;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #333333;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  margin-bottom: 100px;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
