page{
  background: #F7F7F7;
}

.favorite-card{
  padding: 20px;
  padding-bottom: 380px !important;
}

.center-content{
  position: absolute;
  left: 40%;
  width: 750px;
  font-size: 24px;
  font-family: PingFang SC;
  font-weight: 400;
  line-height: 73px;
  color: #888888;
}