.panel-image{
  width: 180px;
  height: 68px;
  margin-bottom: 40px;
}
.panel{
  display: flex;
  flex-direction: column;
}

movable-view {
  width: 150px;  
}

movable-area {
  width: 300px;
  height:80%;
  overflow: hidden;
  position:fixed;
  z-index: 2;
  top: 20%;
  right: 0%;
  background-color: #0000;
}