.index {
  background-color: #F7F7F7;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: table;
}

.study-swiper {
  width: 750px;
  height: 250px;
}

.articles-container {
  margin: 28px 43px;
  display: flex;
  flex-direction: column;
}

.articles-small-container {
  margin: 28px 43px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article-wrapper + .article-wrapper {
  margin-top: 36px;
}

.article-small-wrapper {
  margin-bottom: 20px;
}

.article-small {
  margin: 20px;
}

.page-switch {
  width: 100%;
  height: 109px;
  background: url("../../images/pageswitch_bg.png") no-repeat;
  background-size: auto 109px;
  background-position: top;
  
  overflow: hidden; // 防止内部margin泄漏到外部
}

.page-switch-option-container {
  margin: 13px auto 0px auto;
  padding: 0 66px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 38px;
  font-weight: 500;
  text-align: center;
}

.page-switch-option-left {
  color: #B2B2B2;
  padding: 20px 20px 0 100px;
}

.page-switch-option-right {
  color: #B2B2B2;
  padding: 20px 100px 0 20px;
}

.page-switch-option-selected {
  color: #FC4442;
}

.page-switch-redbar {
  width: 90px;
  height: 12px;
  display: block;
  margin: auto;
}

.invisible {
  visibility: hidden;
}