.index {

}

.big-img {
  display: block;
  width: 100%;
  margin-top: -131px;
}

.info-container {
  padding: 90px 86px;
}

.input-w-label {
  height: 85px;
  padding: 20px 0;
  margin-top: 52px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #B2B2B2;
  font-size: 32px;
  line-height: 126px;
  font-family: Songti SC;
  font-weight: 400;
  color: #888888;
}

.input-w-label-actual-input {
  display: inline-block;
  width: 450px;
  margin: auto 0;
  color: black;
  height: 32px;
}

.btn-go-order {
  background-color: #FFBE1E;
  color: white;
  width: 694px;
  height: 106px;
  line-height: 106px;
  font-size: 38px;
  font-weight: 600;
  margin-top: 8vh;
  border-radius: 100px;
  box-shadow: 5px, 5px, 5px, rgba(0, 0, 0, 0.4);
}

.little-text {
  margin: 24px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #B2B2B2;
}