page {
	background-color: #ffffff;
	width: 100%;
	.info-wrapper {
		padding-right: 40px;
		padding-left: 40px;
		.img-wrapper {
			width: 100%;
			display: flex;
			justify-content: center;
			margin: 30px 0;
			.img {
				width: 348px;
				height: 52px;
				margin: 0 auto;
			}
		}
		.title {
			font-size: 28px;
			font-family: PingFang SC;
			font-weight: 400;
			line-height: 67px;
			color: #353535;
		}
		.classForm {
			margin-top: 26px;
		}
		.tutorType {
			margin-top: 26px;
		}
		.tag {
			margin-right: 18px;
			margin-bottom: 27px;
			background: #ffffff;
			border: 1px solid #888888;
			border-radius: 8px;
			font-size: 26px;
			font-family: PingFang SC;
			font-weight: 400;
      line-height: 67px;
      height: 67px;
		}
		.at-tag--active.at-tag--primary {
			color: #ffa10d;
		}
		.teacherSex-wrapper {
			display: flex;
		}
		.salary-wrapper {
			.at-list__item .item-extra__info {
				overflow: visible;
				text-overflow: initial;
			}
		}
		.teachingTimeInput {
			background: #ffffff;
			border: 1px solid #dfdfdf;
			opacity: 1;
			border-radius: 8px;
			padding: 10px 0 9px 23px;
		}
		.placeHolderClass {
			font-size: 26px;
			font-family: PingFang SC;
			font-weight: 400;
			line-height: 67px;
			color: #b2b2b2;
        }
        Input,Picker{
            margin-bottom: 30px;
        }
		.btn {
			background-color: #ea544b;
			font-size: 38px;
			font-family: PingFang SC;
      font-weight: 600;
      text-align: center;
      border-radius: 100px;
			line-height: 118px;
			color: #ffffff;
		}
		.footer {
			font-size: 26px;
			font-family: PingFang SC;
			font-weight: 400;
			line-height: 67px;
			display: flex;
			justify-content: center;
		}
	}
}
