page {
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
}
.img-wrapper {
  width: 100%;
}
.img {
  width: 100%;
}
.btn-wrapper {
  display: flex;
  flex-direction: column;
  padding-top:40rpx;
}
.btn {
  width:90%;
  border: 1rpx solid #fff;
  border-radius: 112rpx;
  color: #FFFFFF;
  margin-bottom: 52rpx;
}
.btn1 {
  background-color: rgb(243, 203, 94);
}
.btn2 {
  background-color: #6090e7;
}
.btn3 {
  background-color: #6acfc0;
}
.btn4 {
  background-color: #e86f42;
}
